<table>
  <tr>
    <td>
      <p id="notice"><%= notice %></p>

      <p>
        <h1><%= @post.title %></h1>
      </p>
      <p><%= @post.content %></p> 
      <% if account_signed_in? %>
        <%= link_to 'Edit', edit_post_path(@post) if current_account.role == "admin" %> |
      <% end%>
        <%= link_to 'Back', posts_path %>
    </td>
  </tr>
</table>