<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "YogaS" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
   <table align="center" width="1000px" id="page">
    <tr>
      <td>
        <table id="header_img" cellpadding="5" cellspacing="5">
          <tr colspan="5">
            <td>
              <img src="/images/beachsand.jpg" />
            </td>
          </tr>
        </table>
        <table id="nav_bar" cellpadding="5" cellspacing="5" width="100%">
          <tr>
            <td><%= link_to "Home", root_path %></td>
            <td><%= link_to "Blog", posts_path %></td>
            <td>Gallery</td>
            <td>Discussion</td>
            <td>
            <% if current_account then %>
              <%= link_to "Sign Out", destroy_account_session_path, :method => :delete %>
            <% else %>
              <%= link_to 'Sign In', new_account_session_path %>
            <% end %>
            </td>
          </tr>
        </table>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </td>
  </tr>
</table>
    </div>
  </body>
</html>
